@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root{
    --container-height:600px;
    --container-width:400px;
    --header-height:150px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu',monospace;
}

html{
    font-size: 20px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.container{
    background-color: rgb(138, 152, 179);
    width: var(--container-width);
    height: var(--container-height);
    position: relative;
    overflow: hidden;
}

header{
    width: 100%;
    height: var(--container-height);
    background-image: url();
}